.egenmeldingswrapper > div:not(:first-child) {
    margin-top: 3rem;
}

.sammeperiode {
  align-self: end;
  margin-left: 1.05rem;
}

@media screen and (max-width: 800px) {
  .sammeperiode {
    max-width: 134px;
  }
}
