.egenmeldingswrapper>div:not(:first-child) {
  margin-top: 2rem;
}

.sammeperiode {
  align-self : end;
  margin-left: 1.05rem;
}

.datowrapper {
  display  : flex;
  flex-wrap: wrap;
  gap      : 2rem;
}

.endresykemeldingknapper {
  padding-top    : 2rem;
  display        : flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .sammeperiode {
    margin-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .endresykemeldingknapper {
    flex-direction: column;
    gap           : 2rem;
  }
}
