.egenmeldingswrapper > div:not(:first-child) {
    margin-top: 3rem;
}

.sammeperiode {
  align-self: end;
  margin-left: 1.05rem;
}

.datowrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 800px) {
  .sammeperiode {
    margin-left: 0;
  }
}
