.maanedsnavn,
.maanedsinntekt {
  font-size: var(--navds-font-size-xlarge);
  min-width: 5rem;
}

.maanedsnavn {
  padding-right: 1rem;
}

.maanedsinntekt {
  text-align: right;
}

.endremaaanedsinntekt {
  display   : flex;
  gap       : 2rem;
  margin-top: auto;
  height    : 3rem;
}

.belopwrapper {
  display      : flex;
  gap          : 2rem;
  margin-bottom: 1rem;
}

.belopwrapper>div {
  margin-top   : auto;
  margin-bottom: auto;
  height       : auto;
}


.bruttoinntektendringsbelop>label {
  max-height: var(--navds-font-line-height-large);
}

.bruttoinntektendringsbelop>input {
  margin-bottom: auto;
}

.bruttoinntektbelop {
  margin: 1rem 0 .5rem;
}

.bruttoinntektbelop>input {
  max-width: 10rem;
}

.kontrollerknapp {
  margin-top: calc(var(--navds-font-line-height-large) + .5rem);
  height    : 3rem;
  display   : inline-block;
}


.arbeidsprosent {
  margin: 2rem 0;
}

.prosentbody {
  display       : flex;
  flex-direction: column;
}

.prosentbodytext {
  margin-top   : auto;
  margin-bottom: auto;
}

.bruttoinntektendringsbelopenkel {
  margin-top: .5rem;
}

.bruttoinntektendringsbelopenkel>input {
  max-width: 10rem;
}

.bruttoinntektbelopbeskrivelse {
  margin-bottom: 1rem;
  margin-top   : 1rem;
  font-weight  : var(--navds-font-weight-bold);
}

.inntektsliste {
  padding-top: 1rem;
}
