.maanedsnavn,
.maanedsinntekt {
  font-size: var(--a-font-size-xlarge);
  min-width: 5rem;
}

.maanedsnavn {
  padding-right: 1rem;
}

.maanedsinntekt {
  margin-bottom: auto;
  margin-top: auto;
}

.endremaaanedsinntekt,
.endremaaanedsinntektwrapper {
  display: flex;
  gap: 2rem;
}

.endreperiodeliste {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.endremaaanedsinntektwrapper {
  flex-direction: column;
  margin-top: 0.5rem;
}

.belopwrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.bruttoinntektendringsbelop > label {
  max-height: var(--a-font-line-height-large);
}

.bruttoinntektendringsbelop > input {
  margin-bottom: auto;
}

.bruttoinntektbelop {
  margin: 1rem 0 0.5rem;
}

.bruttoinntektbelop > input {
  max-width: 10rem;
}

.kontrollerknapp {
  margin-top: calc(var(--a-font-line-height-large) + 0.5rem);
  height: 3rem;
  display: inline-block;
}

.arbeidsprosent {
  margin: 2rem 0;
}

.prosentbody {
  display: flex;
  flex-direction: column;
}

.prosentbodytext {
  margin-top: auto;
  margin-bottom: auto;
}

.bruttoinntektendringsbelopenkel {
  margin-top: 0.5rem;
}

.bruttoinntektendringsbelopenkel > input {
  max-width: 10rem;
}

.bruttoinntektbelopbeskrivelse {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: var(--a-font-weight-bold);
}

.inntektsliste {
  padding-top: 1rem;
}

.tbmargin {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.sletteknapp {
  margin-top: 1.5rem;
}

.inntektsliste thead {
  display: none;
}

.feriealert {
  margin-top: 1rem;
}

.feriealert div {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .endremaaanedsinntekt {
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: var(--a-bg-subtle);
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--a-bg-subtle);
    margin: 0.25rem 0;
  }
}
