.maanedsnavn,
.maanedsinntekt {
  font-size: var(--navds-font-size-xlarge);
  margin: 0;
  min-width: 5rem;
}

.maanedsinntekt {
  text-align: right;
}

.endremaaanedsinntekt {
  display: flex;
  gap: 2rem;
  margin-top: auto;
  height: 3rem;
}

.belopwrapper {
  display: flex;
  gap: 2rem;
}

.belopwrapper > div {
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
}

.bruttoinntektendringsbelop > label {
  max-height: var(--navds-font-line-height-large);
}

.bruttoinntektendringsbelop > input {
  margin-bottom: auto;
}

.kontrollerknapp {
  margin-top: calc(var(--navds-font-line-height-large) + .5rem);
  height: 3rem;
  display: inline-block;

}
