.arbeidsgiverWrapper,
.ytreAnsattWrapper,
.personInfoWrapper {
  display: grid;
  grid-template-columns: [col1] 50% [col2] auto;
}

.ansattWrapper {
  display: flex;
  flex-direction: column;
}

.telefonWrapper,
.innsenderNavnWrapper {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .personInfoWrapper {
    display: grid;
    grid-template-columns: [col1] auto;
  }

  .denAnsatte {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .arbeidsgiverWrapper,
  .ytreAnsattWrapper {
    display: grid;
    grid-template-columns: [col1] auto;
  }

  .innsenderNavnWrapper,
  .virksomhetsnavnWrapper,
  .ansattWrapper {
    margin-bottom: 0.75rem;
  }
}
