.modalwrapper {
    max-width: 960px;
    width: 80%;
}

.tablewrapper {
    padding: 1rem 0 2rem 0;
    width: 800px;
}

.tablewrapper td,
.tablewrapper th {
    text-align: left;
}

.tablewrapper td,
.tablewrapper th {
    padding-left: 0 0.5rem;
}
.tablewrapper th:first-child,
.tablewrapper td:first-child {
    padding-left: 0;
}

.beregnetinntekt {
    padding: 1rem 0;
}

.beregnetinntektheader {
    padding-top: 0.5rem;
}

.bekrefttekst {
    font-weight: bold;
}

.modalheading {
    margin-bottom: 1rem;
}

.ingress {
    margin-bottom: 2rem;
}

.bekreftknapp {
    margin-top: 1rem;
    min-width: 10rem;
}

.endringswrapper {
    display: flex;
    gap: 1rem;
    
}

.endringsverdier {
    display: inline-block;
}
