.page-content-wrapper {
  max-width: calc(960px + 2rem);
  margin-left: auto;
  margin-right: auto;
}

.page-content-header {
  background-color: var(--a-bg-default);
  padding: 1rem 2rem 0;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.page-content-body {
  background-color: var(--a-bg-default);
}

.page-content-header-extra {
  margin-top: -0.375rem;
}

.page-content-title {
  margin-bottom: 0 !important;
}

.page-kvittering-header {
  background-color: var(--a-bg-default);
  padding: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
}
