.form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personnummer {
  max-width: 10rem;
}

.primaryKnapp {
  max-width: 5rem;
}

.persondata {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navn {
  min-width: 10rem;
}

.knapperad {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
