.datowrapper {
  display       : flex;
  flex-direction: row;
  gap           : 2rem
}

.endreknapp {
  margin-top : auto;
  padding-top: 1rem;
}

.leggtilknapp {
  height   : 3rem;
  display  : inline-block;
  min-width: 10rem;
}

.endreknapper {
  display        : flex;
  padding-top    : 1rem;
  justify-content: space-between;
  margin-top     : 1rem;
}

.endrearbeidsgiverperiode {
  display: flex;
  gap    : 2rem;
}

.datepickerescape {
  display     : inline-block;
  margin-right: 2rem;
}

.datewrapper {
  margin: 1rem 0;
}

@media screen and (max-width: 500px) {
  .endreknapper {
    flex-direction: column;
    gap           : 2rem;
  }
}