.datowrapper {
  display       : flex;
  flex-direction: row;
  gap           : 2rem
}

.endreknapp {
  margin-top: auto;
}

.leggtilknapp {
  margin-top: 1rem;
  height    : 3rem;
  display   : inline-block;
  min-width : 10rem;
}
