.leggtilperiodeknapp {
  margin-top: 1rem;
  max-width: 10rem;
  margin-bottom: 2rem;
}

.endremaaanedsinntekt,
.endremaaanedsinntektwrapper {
  display: flex;
  gap: 2rem;
}

.sletteknapp {
  height: fit-content;
  align-self: end;
}

@media screen and (max-width: 500px) {
  .endremaaanedsinntekt {
    flex-direction: column;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: var(--ax-bg-neutral-soft);
    padding: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem var(--ax-bg-neutral-soft);
    margin: 0.25rem 0;
  }
}
