.arbeidsgiverwrapper,
.ytreansattwrapper,
.personinfowrapper {
  display              : grid;
  grid-template-columns: [col1] 50% [col2] auto;
}

.ansattwrapper {
  display       : flex;
  flex-direction: column;
}

.telefonnrwrapper,
.innsendernavnwrapper {
  margin-top: 1rem;
}

@media screen and (max-width: 800px) {
  .personinfowrapper {
    display              : grid;
    grid-template-columns: [col1] auto;
  }

  .denansatte {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 450px) {

  .arbeidsgiverwrapper,
  .ytreansattwrapper {
    display              : grid;
    grid-template-columns: [col1] auto;
  }

  .innsendernavnwrapper,
  .virksomhetsnavnwrapper,
  .ansattwrapper {
    margin-bottom: .75rem;
  }
}