.fancyRadio {
  border: 1px solid var(--ax-border-neutral-strong);
  width: 100%;
  border-radius: var(--ax-radius-4);
}

.fancyRadio > label {
  margin-left: 1rem;
}

.fancyRadio :global(.navds-radio__input):checked + :global(.navds-radio__label) {
  font-weight: bold;
}

.selectedRadio {
  background-color: var(--ax-accent-200);
}

.fancyRadioGruppe :global(.navds-radio-buttons) {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 1rem 0 1rem;
}

.fancyRadioGruppe:global(.navds-radio-group) {
  margin-top: 1rem;
}
