.fravaersperiode {
  border: 1px solid transparent;
}

.ytreAnsattWrapper,
.personInfoWrapper,
.fravaerswrapperwrapper {
  display: grid;
  grid-template-columns: [col1] 50% [col2] auto;
}

.sykfravaerstyper {
  margin-top: 1.5rem;
}

.ytterstefravaerwrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .ytterstefravaerwrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .ytrefravaerswrapper {
    margin-top: 1.5rem;
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .ytrefravaerswrapper {
    flex-direction: column;
  }
}
