.flerforholdheader {
  margin-top: 1.5rem;
}

.beloepswrapper {
  display: flex;
  gap: 2rem;
  margin-top: 0.75rem;
}

.beloep {
  margin-top: auto;
  margin-bottom: auto;
}

.refusjonBeloep > input {
  max-width: 18rem;
}

.selectbegrunnelse > div {
  height: 48px;
}

.selectbegrunnelse > label {
  height: 48px;
}

.beloepperiode,
.wrapperUtbetaling {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.beloepperiode {
  margin-bottom: 1rem;
}

.legtilbutton {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sletteknapp {
  margin-top: 1.5rem;
}

.endringsboks {
  max-width: 12rem;
}

.alert_box {
  margin-top: 1rem;
}

.alert_span {
  margin-top: auto;
}

.endre_knapp {
  margin-top: auto;
  margin-bottom: auto;
}

.radiobuttonDescriptionWrapper {
  display: block;
}

.radiobuttonWrapper > div {
  gap: 1rem;
}

.radiobuttonInnerWrapper > div,
.radiobuttonWrapper > div {
  display: flex;
}

.radiobuttonInnerWrapper > div {
  margin-top: var(--a-spacing-2) !important;
}

.radiobuttonInnerWrapper,
.radiobuttonWrapper {
  margin: var(--a-spacing-5) 0;
}

.radiobuttonButtonWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.radiobuttonInnerWrapper > div {
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .beloepswrapper,
  .beloepperiode,
  .wrapperUtbetaling {
    flex-direction: column;
  }

  .selectbegrunnelse > label {
    height: inherit;
  }
}
