.flerforholdheader {
  margin-top: 1.5rem;
}

.belopswrapper {
  display   : flex;
  gap       : 2rem;
  margin-top: .75rem;
}

.belop {
  margin-top   : auto;
  margin-bottom: auto;
}

.refusjonsbelop>input {
  max-width: 10rem;
}

.selectbegrunnelse>select,
.selectbegrunnelse>div {
  width: max-content;
}

.belopperiode,
.wraputbetaling {
  display       : flex;
  flex-direction: row;
  gap           : 2rem;
}

.legtilbutton {
  margin-top: .75rem;
}
