.flerforholdheader {
  margin-top: 1.5rem;
}

.beloepswrapper {
  display: flex;
  gap: 2rem;
  margin-top: 0.75rem;
}

.beloep {
  margin-top: auto;
  margin-bottom: auto;
}

.selectbegrunnelse {
  grid-template-rows: [title] min-content [select];
}

.selectbegrunnelse > div {
  height: 48px;
}

.beloepperiode {
  margin-bottom: 1rem;
}

.beloepperiode > :nth-child(2) {
  max-width: 10rem;
}

.beloepperiode input {
  max-height: 3rem;
}

.legtilbutton {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sletteknapp {
  margin-top: 1.5rem;
  max-height: 4rem;
}

.endringsboks {
  max-width: 12rem;
  align-content: baseline;
}

.alert_box {
  margin-top: 1rem;
}

.alert_span {
  margin-top: auto;
}

.endre_knapp {
  margin-top: auto;
  margin-bottom: auto;
}

.radiobuttonDescriptionWrapper {
  display: block;
}

.radiobuttonWrapper > div {
  gap: 1rem;
}

.radiobuttonInnerWrapper {
  margin-top: 0;
}

.radiobuttonInnerWrapper > div,
.radiobuttonWrapper > div {
  display: flex;
}

.radiobuttonInnerWrapper > div {
  margin-top: var(--ax-space-8) !important;
  flex-direction: column;
}

.radiobuttonWrapper {
  margin: var(--ax-space-20) 0;
}

.radiobuttonButtonWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.beloepperiode,
.wrapperUtbetaling {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.refusjonBeloep {
  min-width: fit-content;
  align-content: baseline;
  max-width: 18rem;
}

.refusjonBeloep > input {
  max-width: 18rem;
  max-height: 3rem;
}

.refusjonBeloep > div {
  max-width: 18rem;
}

.alertBox {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 500px) {
  .beloepswrapper,
  .beloepperiode,
  .wrapperUtbetaling {
    flex-direction: column;
  }

  .selectbegrunnelse > label {
    height: inherit;
  }
}
