.flerforholdheader {
  margin-top: 1.5rem;
}

.belopswrapper {
  display: flex;
  gap: 2rem;
  margin-top: 0.75rem;
}

.belop {
  margin-top: auto;
  margin-bottom: auto;
}

.refusjonsbelop > input {
  max-width: 18rem;
}

.selectbegrunnelse > div {
  height: 48px;
}

.selectbegrunnelse > label {
  height: 48px;
}

.belopperiode,
.wraputbetaling {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.belopperiode {
  margin-bottom: 1rem;
}

.legtilbutton {
  margin-top: 1rem;
}

.sletteknapp {
  margin-top: 1.5rem;
}

@media screen and (max-width: 500px) {
  .belopswrapper,
  .belopperiode,
  .wraputbetaling {
    flex-direction: column;
  }

  .selectbegrunnelse > label {
    height: inherit;
  }
}
