.ansattwrapper {
  display       : flex;
  flex-direction: column;
}

.fravaerwrapper {
  width     : 50%;
  display   : inline-block;
  margin-top: 0.5rem;
}

.fravaertid {
  font-weight: 600;
}

.ytrefravaerswrapper {
  display: inline-block;
}

.arbeidsgiverperiode {
  display   : inline-block;
  margin-top: 1rem;
}

.ytterstefravaerwrapper {
  display       : flex;
  flex-direction: column;
}

.buttonwrapper {
  margin-top     : 2rem;
  display        : flex;
  justify-content: space-between;
}

.innerbuttonwrapper {
  display: flex;
  gap    : 4rem;
}

.buttonwrapper button {
  min-width: 10rem;
}

.skrivutknapp {
  align-self: flex-end;
}

.lukkelenke {
  margin-top   : auto;
  margin-bottom: auto;
}

@media screen and (max-width: 600px) {
  .ytterstefravaerwrapper {
    flex-direction: column;
    margin-top    : 0;
  }

  .ytrefravaerswrapper {
    margin-top: 1.5rem;
    width     : 100%;
  }
}

@media screen and (max-width: 300px) {
  .ytrefravaerswrapper {
    flex-direction: column;
  }
}

.infoboks {
  border       : 1px solid black;
  border-radius: 8px;
  display      : inline-block;
  grid-column  : col2 / span 1;
  height       : fit-content;
  padding      : 1rem;
}

.fravaersdata {
  display: inline-block;
  height : fit-content;
}

.arbeidsgiverwrapper,
.ytreansattwrapper,
.personinfowrapper,
.fravaerswrapperwrapper {
  display              : grid;
  grid-template-columns: [col1] 50% [col2] auto;
}

.sykfravaerstyper {
  margin-top: 1.5rem;
}

.arbeidsforhold {
  margin-top   : 2rem;
  margin-bottom: 0.5rem;
}

.refusjonsheader {
  margin-top: 2rem;
}

.virksomhetsnavn {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
}

.uthevet {
  margin-top : 0.5rem;
  font-weight: 600;
}
