.ansattwrapper {
    display: flex;
    flex-direction: column;
}

.ytreansattwrapper {
    display: flex;
    gap: 2rem;
}

.fravaerwrapper {
    width: 50%;
    display: inline-block;
    margin-top: .5rem;
}

.fravaertid {
    font-weight: 600;
}

.ytrefravaerswrapper {
    width: 50%;
    display: inline-block;
    margin-top: .5rem;
}

.ytterstefravaerwrapper {
    display: flex;
    margin-top: 1rem;
}

.fravaerstyper {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.buttonwrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.innerbuttonwrapper {
    display: flex;
    gap: 4rem;
}

.buttonwrapper button {
    min-width: 10rem;
}

.skrivutknapp {
    align-self: flex-end;
}

.lukkelenke {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 600px) {
    .ytterstefravaerwrapper {
      flex-direction: column;
      margin-top: 0;
    }
    .ytrefravaerswrapper {
        margin-top: 1.5rem;
        width: 100%;
    } 
  }

  @media screen and (max-width: 300px) {
    .ytrefravaerswrapper {
        flex-direction: column;
    } 
  }
