.datowrapper {
  margin   : 1rem 0;
  display  : flex;
  flex-wrap: wrap;
  gap      : 2rem;
}

.tekstomraade {
  margin-bottom: 2rem;
}

.modalwrapper {
  max-width: 65rem;
  padding  : 4rem;
}

.sletteknapp {
  margin-top: 2rem;
  align-self: baseline;
}

.legtilbutton {
  min-width    : 12rem;
  margin-bottom: 1rem;
}

.alertwrapper {
  margin: .5rem 0;
}

.selectbegrunnelse {
  margin-bottom: 1rem;
  max-width    : 20rem;
}
