.refusjonswrapper {
  display: flex;
  flex-direction: row;
}

.refusjonswrapper_child {
  flex: 1;
}

.belopperiode {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.leggtilbutton {
  margin-top: 1rem;
}

.table_header {
  padding-right: 1rem;
}

.belopwrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.maanedsinntekt {
  margin-bottom: auto;
  margin-top: auto;
}
