.wrapper {
  margin: .5rem 0;
}

.svartekster {
  margin-bottom: .5rem;
}

.lonnTabell td {
  padding-right: 1rem;
}

.uthevet {
  margin-top : .5rem;
  font-weight: 600;
}

.lonnTabell {
  margin-left: -.25rem;
  margin-top : .5rem
}