.wrapper {
  margin: 0.5rem 0;
}

.svartekster {
  margin-bottom: 0.5rem;
}

.lonnTabell td {
  padding-right: 1rem;
}

.uthevet {
  margin-top: 0.5rem;
  font-weight: 600;
}

.lonnTabell {
  margin-left: -0.25rem;
  margin-top: 0.5rem;
}

.oppsummering {
  margin-bottom: 1rem;
}
