html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navds-read-more__content.navds-body-long {
  margin-bottom: var(--a-spacing-4);
}

@media print {
  #decorator-header,
  #decorator-footer,
  .bedriftsmeny,
  .skjul-fra-print {
    display: none !important;
  }

  .side {
    padding: 0 !important;
  }
}
