.ingress {
  padding: 1rem;
}

.padded {
  padding      : 1rem 2.5rem;
  margin-bottom: 2rem;
}

.tddatepickernatural {
  padding-top: 0.5rem;
}

.fullbredde {
  width: 100%;
}

.endresykemelding,
.endrebutton {
  width     : 33%;
  align-self: end;
}

.endresykemeldingknapper {
  padding-top    : 2rem;
  display        : flex;
  justify-content: space-between;
}

.datepickerescape {
  display     : inline-block;
  margin-right: 2rem;
}

.datepickerlabel {
  display      : inline-block;
  margin-bottom: var(--a-spacing-2);
}

.datepickerescape input {
  margin-top: 0 !important;
}

.fnr {
  max-width: 15rem;
}

.kontrollerknapp,
.legtilbutton,
.endrebutton {
  min-width: 10rem;
}

.endrebutton {
  max-width : 10rem;
  align-self: initial;
  height    : min-content;
}

.legtilbutton {
  margin-top: 1rem;
}

.kontrollerknapp {
  margin-top: auto;
  height    : 3rem;
  display   : inline-block;
}

.sendbutton {
  min-width : 10rem;
  margin-top: 1rem;
}

.personinfowrapper {
  display       : flex;
  gap           : 4rem;
  flex-direction: row;
}


.virksomhetsnavn {
  white-space  : nowrap;
  overflow     : hidden;
  text-overflow: ellipsis;
  margin-top   : 1rem;
}

.arbeidsgiverwrapper {
  display: flex;
  gap    : 2rem;
}

.periodewrapper {
  display: flex;
  gap    : 2rem;
  margin : 1rem 0;
}

.radiobuttonwrapper>div {
  display: flex;
  gap    : 2rem;
}

.radiobuttonwrapper {
  margin: var(--a-spacing-5) 0;
}

.opphrefkravperiode {
  margin: 1rem 0 .5rem
}

.naturalytelser {
  display      : flex;
  gap          : 2rem;
  margin-bottom: var(--a-spacing-2);
}

.confirmationpanel {
  margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
  .personinfowrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .arbeidsgiverwrapper {
    flex-direction: column;
  }

  .datepickerescape {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .periodewrapper {
    flex-direction  : column;
    border          : 1px solid darkgray;
    border-radius   : 5px;
    background-color: var(--a-bg-subtle);
    padding         : 0.5rem;
    box-shadow      : 0.25rem 0.25rem 0.25rem var(--a-bg-subtle);
    margin          : 0.25rem 0;
  }

  .datepickerescape {
    width: 100%;
  }
}