name: Cypress e2e tester

on:
  pull_request:
    branches:
      - main
  release:
    types: [released]

env:
  APP: spinntektsmelding-frontend
  IMAGE: ghcr.io/${{ github.repository }}/spinntektsmelding-frontend:${{ github.sha }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          node-version: '22.6'
          registry-url: 'https://npm.pkg.github.com'
      - run: yarn install --immutable

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          project: .
          browser: chrome
          build: yarn build
          start: yarn dev:decoratorless
          wait-on: 'http://localhost:3000/im-dialog/cypress-test'

  # Kodekvalitet:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: '22.6'
  #         registry-url: "https://npm.pkg.github.com"
  #     - run: yarn install --immutable
  #     - run: yarn test
  #     - name: SonarCloud Scan
  #       uses: sonarsource/sonarcloud-github-action@master
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
