name: Bygg og deploy dev

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  pull-requests: write

env:
  APP: spinntektsmelding-frontend
  IMAGE: ghcr.io/${{ github.repository }}/spinntektsmelding-frontend:${{ github.sha }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
jobs:
  build_and_deploy:
    name: Build, push and deploy
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      security-events: "write"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Build and push image and SBOM to OCI registry
        uses: nais/docker-build-push@ae613eff6f44f0323476eda1c3994a7c518761c3
        id: docker-build-push
        with:
          team: helsearbeidsgiver
          cache_from: type=gha
          cache_to: type=gha,mode=max
          build_secrets: |
            NODE_AUTH_TOKEN=${{ secrets.READER_TOKEN }}
          build_args: |
            BUILDMODE=development

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@e368e328979b113139d6f9068e03accaed98a518
        with:
          image-ref: ${{ steps.docker-build-push.outputs.image }}
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "HIGH,CRITICAL"
          limit-severities-for-sarif: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@5e7a52feb2a3dfb87f88be2af33b9e2275f48de6
        with:
          sarif_file: "trivy-results.sarif"

      - name: Deploy to Nais
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: dev-gcp
          RESOURCE: naiserator.yaml #, topic.yaml, statefulset.yaml, etc.
          VAR: image=${{ steps.docker-build-push.outputs.image }}
          TELEMETRY: ${{ steps.docker-build-push.outputs.telemetry }}
          VARS: nais/dev-gcp.json
